DB_URL=jdbc:postgresql://localhost:5432/nexcaja
DB_USERNAME=postgres
DB_PASSWORD=replace_with_a_local_password
SERVER_PORT=8080
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
DB_POOL_MAX=3
DB_POOL_MIN=1
APP_LOG_LEVEL=INFO
APP_SEED_ENABLED=false
APP_SEED_PASSWORD=replace_only_if_seed_data_is_enabled
